@font-face {
    font-family: "Zecko Sans";
    src: url(Zecko-Sans.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Zecko Sans";
    font-size: 20px;
}

.mainContent {
    color: white;
    background-color: rgb(41, 63, 80);
    height: auto;
    width: auto;
}

#mainTitle {
    font-size: 40px;
    float: left;
    text-align: left;
    width: 60%;
    box-sizing: border-box;
    padding: 25px;
}

.mainContent ul {
    list-style: none;
}

.mainContent ul li {
    display: inline;
    margin: 5px;
}   

.mainContent ul li a {
    text-decoration: none;
    color: white;
    
}

.eventDescription h2 {
    text-align: center;
}

#sideList h3 {
    text-align: right;
}

#sideList {
    float: right;
    width: 40%;
    color: #fff;
    padding: 25px;
    text-align: right;
    box-sizing: border-box;
}

#registerButton {
    position: relative;
    right: 44%;
    left: 44%;
}

.clr {
    clear: both;
}

.eventDescription h2 {
    float: none;
}

.eventDescription h3 {
    text-align: center;
}

.informationBlock {
    float: left;
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.informationBlock img {
    height: 200px;
}

.footer {
    background-color: rgb(41, 63, 80);
    color: white;
    height: 70px;
    width: 100%;
}

.footer p {
    position: relative;
    text-align: center;
    top: 30px;
}