html {
    background-color: rgb(245,245,245);
    font-family: 'Questrial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#mainNav {
    list-style: none;
    text-align: center;
    background-color: rgb(245, 245, 245);
    width: auto;
    height: auto;
    padding: 20px;
}

#mainNav li {
    display: inline;
    padding: 2em;
    color: black; 
    font-size: 18px;    
}

.img-container {
    background-image: url(../app_theme/images/ipad.jpg);
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 80%;
    margin: auto;
}