html {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
}

.description {
    padding: 20px;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.pricing {
    position: relative;
    float: left;
    top: 4.5%;
    height: 55%;
    width: 50%;
    color: white;
    background-color: rgb(43, 179, 177);
    text-align: center;
}

.featuredContent {
    position: relative;
    float: right;
    top: 4.45%;
    background-color: rgb(74, 190, 189);
    height: 55%;
    width: 50%;
}

.featuredContent h2 {
    text-align: center;
}

.featuredContent ul {
    position: relative;
    list-style: none;
    left: 20%;
}