html {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid red;
    width: 800px;
    height: 500px;
}

.description {
    padding: 20px;
    text-align: left;
    background-color: rgb(240, 229, 229);
}

.pricing {
    position: relative;
    float: left;
    top: 4.5%;
    height: 55%;
    width: 50%;
    background-color: seagreen;
}

.featuredContent {
    position: relative;
    float: right;
    top: 4.3%;
    background-color: navajowhite;
    height: 55%;
    width: 50%;
}

.featuredContent h2 {
    text-align: center;
}

.featuredContent ul {
    position: relative;
    list-style: none;
    left: 20%;
}