html {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    border: 20px solid rgb(20, 148, 20);
    border-radius: 25px;
}

.description {
    padding: 20px;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.pricing {
    position: relative;
    float: left;
    top: 5.5%;
    height: 55%;
    width: 50%;
    color: white;
    background-color: rgb(43, 179, 177);
    text-align: center;
}

.featuredContent {
    position: relative;
    float: right;
    top: 5.45%;
    color: rgb(255, 255, 255);
    background-color: rgb(74, 190, 189);
    height: 55%;
    width: 50%;
}

.featuredContent h2 {
    text-align: center;
}

.featuredContent ul {
    position: relative;
    list-style: none;
    left: 20%;
}